.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .desktop ul li {
  margin-inline: 1em;
  display: inline-block;
}

ul li.active a {
  color: #0ddf53;
}

ul li a {
  text-decoration: none;
  color: #0d79df;
  font-family: "Ubuntu", sans-serif !important;
  font-size: 15;
}

ul li a:hover {
  color: #0ddf53;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.drawerMenu {
  padding: 20px;
}

@media screen and (max-width: 750px) {
  .main {
    flex: 1;
  }
  .mobile {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  .desktop {
    display: none;
  }
  .drawerMenu {
    display: block;
  }
  .drawerMenu ul {
    flex-direction: column;
  }
  .logo {
    margin-right: 18px;
    flex: 1;
    text-align: center;
  }
  .drawerMenu ul li {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
